/* Styling for messages and h1 elements */
#messages, 
h1 {
    width: 500px;
    height: 60px;
    margin: 0 auto; /* Center align horizontally */
    font-size: 3em;
    text-align: center;
    font-family: Helvetica, Arial, "sans-serif";
}

/* Styling for the game board */
#board {
    width: 600px;
    height: 600px;
    margin: 0 auto; /* Center align horizontally */
}

/* Styling for individual cards */
.card {
    width: 80px;
    height: 80px;
    margin: 8px;
    background-color: #265E8C;
    display: inline-block;
    border-radius: 5px;
}

/* Styling for paragraph elements */
p {
    font-size: 1.5em;
    text-align: center;
    color: #265E8C;
}

/* Styling for h1 elements */
h1 {
    width: 700px;
    height: 100px;
    font-size: 3.5em;
}
